.wrapper {
    display: flex;
    width: 91vw;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    .separator {
        padding: 0.5px;
        background-color: #808080;
        margin: 0 1vw;
    }
}
.responsiveWrapper {
    display: flex;
}

html {
    height: 1050px;
    @media (max-width: 1090px) {
        height: 1100px;
    }
    @media (max-width: 580px) {
        height: 1000px;
    }
    @media (max-width: 460px) {
        height: 1100px;
    }
}